.nav__title {
  text-decoration: none;
  font-family: jura, sans-serif;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: auto;
  transition: transform .2s linear;
  padding: 10px;
}

.nav__title:hover {
  transform: scale(1.2);
}
