.block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  /* background-image: url(../../images/building.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
}
