/* ШРИФТЫ */

@font-face {
  src: url(../fonts/JuraBold.woff);
  font-family: 'Jura Bold';
  font-style: bold;
}
@font-face {
  src: url(../fonts/JuraLight.woff);
  font-family: 'Jura Light';
  font-style: light;
}
@font-face {
  src: url(../fonts/JuraMedium.woff);
  font-family: 'Jura Medium';
  font-weight: medium;
}

@font-face {
  src: url(../fonts/JuraRegular.woff);
  font-family: 'Jura';
}

/* ОБЩИЕ */
/* a {
  margin: 0;
  padding: 0;
  text-decoration: none;
} */

.page {
  min-width: 1100px;
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: 'Jura Bold', Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/* ЗАГОЛОВОК */
.header {
  min-height: 119px;
  background-color: rgb(85, 74, 88);
  display: flex;
  position: sticky;
  top: 0;
}

.header__title {
  width: 33.33%;
  height: 71px;
  line-height: 1.1em;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  margin: auto;
  box-sizing: border-box;
  padding-left: 20px;
}

/* МЕНЮ */
.nav {
  width: 66.67%;
  height: 119px;
  background-color: rgb(64, 186, 188);
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;

}

.nav__title {
  text-decoration: none;
  font-family: jura, sans-serif;
  line-height: 20px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin: auto;
  transition: transform .2s linear;
}

.nav__title:hover {
  transform: scale(1.2);
}

.nav__title_active {
  color: black;
}

/* ОСНОВНОЕ */
.content {
  /* min-height: 300px; */
  background-image: url(../images/building.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  padding-bottom: 60px;
}

.content__about-firm {
  flex-direction: column;
}

.block {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.block__map {
  flex-direction: row;
}

.map {
  width: 66.67%;
  height: 700px;
}

.adress {
  width: 33.33%;
  background-color: lightgray;
  color: rgb(91, 91, 91);
  line-height: 1.3em;
  font-size: 19px;
  font-weight: 100;
  padding-left: 20px;
}

.block__title {
  line-height: 1.1em;
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  padding: 20px 20px;
  margin: 0;
  background-color: rgb(85, 74, 88);
}

.block__title_about-firm {
  width: 33.33%;
  box-sizing: border-box;
}

.block__text {
  background-color: lightgray;
  color: rgb(91, 91, 91);
  line-height: 1.3em;
  font-size: 19px;
  font-weight: 100;
  padding: 20px;
  margin: 0;
}

.block__description {
  display: flex;
  background-color: lightgray;
  padding-top: 20px;
}

.block__photo-place {
  align-self: flex-start;
  margin: 20px;
}

.block__photo {
  width: 250px;
  box-shadow: 0 0 15px 0 rgb(85 74 88);
}

.block__list_header {
  margin: -40px;
}

.block__list {
  margin: 10px;
}

/*************/

/* .firm-description {
  box-sizing: content-box;
}

.subtitle {
  min-height: 119px;
  background-color: rgb(85, 74, 88);
  display: flex;
}

.subtitle__text {
  width: 30%;
  height: 71px;
  line-height: 1.1em;
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  padding-left: 20px;
  margin: auto;
} */

.cards {
  list-style: none;
  margin: 0;
  padding: 60px 0 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.card {
  margin: 0;
  width: 33.33%;
  height: 350px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.card__title {
  height: 20%;
  line-height: 1.1em;
  font-size: 32px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  padding: 20px 20px 0;
  margin: 0;
}

.card__text {
  height: 70%;
  line-height: 1.3em;
  font-size: 19px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  padding: 20px;
  margin: 0;
}

.card__text_type_description {
  line-height: 1.3em;
  font-size: 19px;
  color: rgb(255, 255, 255);
  font-weight: 100;
  padding: 20px;
  margin: 0;
  box-sizing: content-box;
}

.card_theme_dark-grey {
  background-color: rgb(85, 74, 88);
}

.card_theme_grey {
  background-color: lightgray;
  color: rgb(91, 91, 91);
}

.card_theme_light-blue {
  background-color: rgb(64, 186, 188);
}

.card_theme_white {
  background-color: white;
  color: rgb(64, 186, 188);
  }

.card__text_theme_white {
  color: rgb(91, 91, 91);
}

.card_type_header {
  height: 76px;
}

.card__links {
  height: 10%;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px 20px;
}

.card__link {
  text-decoration: none;
  line-height: 20px;
  color: rgb(64, 186, 188);
  text-transform: uppercase;
  transition: transform .2s linear;
}

.card__link:hover {
  transform: scale(1.2);
}

.clients {
  flex-wrap: wrap;
  background-color: lightgray;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  justify-content: space-evenly;
}

.client {
  width: 300px;
  height: 300px;
}

.client__logo {
  height: 200px;
  width: 300px;
  object-fit: contain;
}

.client__name {
  color: rgb(91, 91, 91);
  line-height: 1.3em;
  font-size: 25px;
  font-weight: 100;
  text-align: center;
}



.footer {
  min-height: 119px;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
