.card {
  margin: 0;
  width: 350px;
  min-height: 350px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1050px) {
  .card:nth-child(3) {
    display: none;
  }
}

